$card-width: 10vmin;
$card-height: $card-width * 1.55555555;
$card-border-radius: 4px;

.content {
    width: 90vmin;
    height: 90vmin;
    background-color: #8bc34a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'San Francisco', Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;

    * {
        display: flex;
    }
}

.main {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hand {
    align-content: center;
    max-width: 60vmin;
    margin: 1vmin;
    background-color: black;
    border-radius: $card-border-radius;
}

.opponent {
    flex-direction: column;
    max-height: 50vmin;
    background-color: black;
    border-radius: $card-border-radius;
    margin: 1vmin;
}

.card-wrapper {
    overflow: hidden;
}

.card-wrapper:last-child {
    overflow: visible;
}

.card {
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3vmin;
    padding: 0.5vmin;
    border-radius: $card-border-radius;
    border: 2px solid black;
    flex-shrink: 0;

    .left {
        flex-direction: column;
        align-items: center;
    }

    .suit {
        font-size: 4vmin;
        margin: -1vmin 0;
    }

    .center {
        flex-direction: column;
        justify-content: center;
        font-size: 5vmin;
    }

    .right {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

.card.shown {
    width: $card-width;
    height: $card-height;
}

.card.hidden {
    width: $card-height * 0.75;
    height: $card-width * 0.75;
    align-items: stretch;

    .card-back {
        background-color: #bbdefb;
        flex-grow: 1;
        border-radius: $card-border-radius;
    }
}

.card.ten {
    letter-spacing: -0.4vmin;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.trick {
    position: relative;
    width: 100%;
    height: 100%;

    .first {
        z-index: 2;
    }

    .second {
        z-index: 3;
    }

    .third {
        z-index: 4;
    }

    .fourth {
        z-index: 5;
    }

    .user-play {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left-play {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .partner-play {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .right-play {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
}